[submodule "LoRaMeshLoPyConsole"]
	path = LoRaMeshLoPyConsole
	url = git@github.com:dntoll/LoRaMeshLoPyConsole.git
[submodule "LoRaMeshLibrary"]
	path = LoRaMeshLibrary
	url = git@github.com:dntoll/LoRaMeshLibrary.git
[submodule "ANSIConsole"]
	path = ANSIConsole
	url = git@github.com:dntoll/ANSIConsole.git
